<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
            {{ page.title }} — {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <meta name="description"
          content="{{ page.description | default: site.description }}">

    <link rel="stylesheet"
          href="{{ '/assets/css/main.css' | relative_url }}">


          <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W8XVFJ9KM9"></script>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-W8XVFJ9KM9');
</script>
</head>


<body>

<header class="site-header">

    <a class="logo"
       href="{{ '/' | relative_url }}">
        t1b4n3
    </a>

    <nav>

        <a href="{{ '/research/' | relative_url }}">
            research
        </a>


        <a href="{{ '/writeups/' | relative_url }}">
            writeups
        </a>

        <a href="{{ '/projects/' | relative_url }}">
            projects
        </a>

         <a href="/assets/resume.pdf"> resume </a>

        <a href="{{ '/search/' | relative_url }}">search</a>


    </nav>

</header>


<main>

    {{ content }}

</main>



<footer>

    <div>
        © {{ site.time | date: "%Y" }} t1b4n3
    </div>

    <div class="footer-links">

        <a href="mailto:nkatekotibane101@gmail.com">
            Email
        </a>

        <a href="https://github.com/t1b4n3" target="_blank">
            GitHub
        </a>

        <a href="https://www.linkedin.com/in/nkatekotibane/" target="_blank">
            LinkedIn
        </a>

        <a href="{{ '/feed.xml' | relative_url }}">
            RSS
        </a>
          </div>

</a>
</footer>


<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>

